# 지하철 유무임 승차 분석

## 1. csv 파일 읽고 데이터 정제

In [72]:
import pandas as pd

subway_raw = pd.read_csv('./data/subwayfree_202403.csv', encoding='utf-8')
subway_raw.head()

       사용월  호선명  역ID  지하철역     유임승차     유임하차    무임승차    무임하차
0  2024-03  1호선  150   서울역  1447754  1393734  227062  217639
1  2024-03  1호선  151    시청   664265   656796  111445  108138
2  2024-03  1호선  152    종각   964737   946524  152686  142688
3  2024-03  1호선  153  종로3가   499200   462956  310535  287412
4  2024-03  1호선  154  종로5가   507635   495448  270416  260685

In [26]:
subway_raw.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 622 entries, 0 to 621
Data columns (total 8 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   사용월     622 non-null    object
 1   호선명     622 non-null    object
 2   역ID     622 non-null    int64
 3   지하철역    622 non-null    object
 4   유임승차    622 non-null    int64
 5   유임하차    622 non-null    int64
 6   무임승차    622 non-null    int64
 7   무임하차    622 non-null    int64
dtypes: int64(5), object(3)
memory usage: 39.0+ KB

### (1) 유무임 승차 비율이 가장 높은 역
#### 첫번째 방법: 유임승차/무임승차

In [74]:
# 원본 복사
subway_df1 = subway_raw.copy(deep=True)

In [75]:
subway_df1 = subway_df1[subway_raw['무임승차'] != 0]

In [76]:
subway_df1['유무임승차비율1'] = subway_df1['유임승차'] / subway_df1['무임승차']

In [77]:
subway_df1

         사용월  호선명   역ID      지하철역     유임승차     유임하차    무임승차    무임하차  유무임승차비율1
0    2024-03  1호선   150       서울역  1447754  1393734  227062  217639  6.376029
1    2024-03  1호선   151        시청   664265   656796  111445  108138  5.960474
2    2024-03  1호선   152        종각   964737   946524  152686  142688  6.318438
3    2024-03  1호선   153      종로3가   499200   462956  310535  287412  1.607548
4    2024-03  1호선   154      종로5가   507635   495448  270416  260685  1.877237
..       ...  ...   ...       ...      ...      ...     ...     ...       ...
617  2024-03  신림선  4407        당곡   102268    97581   40291   39955  2.538234
618  2024-03  신림선  4408        신림    38477    54633   17153   21540  2.243164
619  2024-03  신림선  4409        서원    81027    68501   26212   26004  3.091218
620  2024-03  신림선  4410   서울대벤처타운   229893   203104   71540   70626  3.213489
621  2024-03  신림선  4411  관악산(서울대)    65896    73642   36922   37740  1.784735

[616 rows x 9 columns]

In [96]:
subway_sort = subway_df1.sort_values(by='유무임승차비율1', ascending=False)

In [97]:
subway_sort

         사용월  호선명   역ID 지하철역   유임승차   유임하차   무임승차   무임하차    유무임승차비율1
72   2024-03  3호선   321  충무로    261      0      1      0  261.000000
240  2024-03  분당선  1031   복정    168      0      2      0   84.000000
269  2024-03  일산선  1949   지축     61      0      1      0   61.000000
192  2024-03  경원선  1022   창동     92      0      3      0   30.666667
449  2024-03  6호선  2615  연신내    119      0      4      0   29.750000
..       ...  ...   ...  ...    ...    ...    ...    ...         ...
297  2024-03  중앙선  1218   원덕   5192   5164   6774   6571    0.766460
350  2024-03  경춘선  1324  굴봉산   1347   1483   1983   1938    0.679274
329  2024-03  경의선  1286   운천     88     23    131    123    0.671756
211  2024-03  경원선  1919   연천  13715  12867  25063  26071    0.547221
208  2024-03  경원선  1916  소요산  15121  14839  42303  41016    0.357445

[616 rows x 9 columns]

In [80]:
print('유임승차비율이 높은 역: %s, 비율:%f' % (subway_sort.iloc[0]['지하철역'], subway_sort.iloc[0]['유무임승차비율1']))

유임승차비율이 높은 역: 충무로, 비율:261.000000

### (2) 유무임 승차 비율이 가장 높은 역
#### 두번째 방법: 무임승차/(유임승차+무임승차)

In [87]:
subway_df2 = subway_raw.copy(deep=True)

In [88]:
subway_df2 = subway_df2[subway_raw['무임승차'] != 0]

In [89]:
subway_df2['유무임승차비율2'] = subway_df1['유임승차'] / (subway_df1['유임승차'] + subway_df1['무임승차'])

In [90]:
subway_df2

         사용월  호선명   역ID      지하철역     유임승차     유임하차    무임승차    무임하차  유무임승차비율2
0    2024-03  1호선   150       서울역  1447754  1393734  227062  217639  0.864426
1    2024-03  1호선   151        시청   664265   656796  111445  108138  0.856332
2    2024-03  1호선   152        종각   964737   946524  152686  142688  0.863359
3    2024-03  1호선   153      종로3가   499200   462956  310535  287412  0.616498
4    2024-03  1호선   154      종로5가   507635   495448  270416  260685  0.652444
..       ...  ...   ...       ...      ...      ...     ...     ...       ...
617  2024-03  신림선  4407        당곡   102268    97581   40291   39955  0.717373
618  2024-03  신림선  4408        신림    38477    54633   17153   21540  0.691659
619  2024-03  신림선  4409        서원    81027    68501   26212   26004  0.755574
620  2024-03  신림선  4410   서울대벤처타운   229893   203104   71540   70626  0.762667
621  2024-03  신림선  4411  관악산(서울대)    65896    73642   36922   37740  0.640899

[616 rows x 9 columns]

In [91]:
subway_sort = subway_df2.sort_values(by='유무임승차비율2', ascending=False)

In [92]:
print('유임승차비율이 높은 역: %s, 비율:%f' % (subway_sort.iloc[0]['지하철역'], subway_sort.iloc[0]['유무임승차비율2']))

유임승차비율이 높은 역: 충무로, 비율:0.996183